COMMON: &common
  SECRET_KEY: secretkey
  CSRF_ENABLED: True
  SQLALCHEMY_DATABASE_URI: postgresql://localhost/cellar55?client_encoding=utf8
  LOG_DIR: log

DEVELOPMENT: &development
  <<: *common
  DEBUG: True
  DEVELOPMENT: True
  TESTING: True

PRODUCTION: &production
  <<: *common
  DEBUG: False
  DEVELOPMENT: False
  TESTING: False
  SECRET_KEY: secretkey

