@gray: #777;
@dark-gray: #4A4A4A;
@very-dark-gray: #222;
@light-gray: #eeeeee;
@medium-gray: #666;

@wine-red: #ef5350;
@wine-white: #EEFF41;
@wine-rose: #F48FB1;

@rating-gray: #424242;

@sommselect-purple: #7966b4;
@purple: #7C4DFF;
