@gray: #575757;
@dark-gray: #4A4A4A;
@very-dark-gray: #222;
@light-gray: #eeeeee;

@wine-red: #ef5350;
@wine-white: #fcffb3;
@wine-rose: #f8bbd0;

@rating-gray: #424242;

@sommselect-purple: #7966b4;
@purple: #6c21ff;
