@import 'colors.less';

@abril-family: "abril-fatface", 'Georgia', serif;
@bodoni-family: 'ltc-bodoni-175', 'Georgia', serif;
@acumin-family: 'Avenir', 'canada-type-gibson', 'Helvetica', sans-serif;
@freight-sans-family: "freight-sans-pro", "Avenir", "Helvetica", sans-serif;
@freight-disp-family: "freight-display-pro", "Georgia", serif;

@circle-diameter: 6px;
@filter-key-width: 115px;
@region-filter-width: 280px;

@input-border: 1px solid @light-gray - #111;
@input-border-color-active: @purple;

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: @freight-sans-family;
  color: @gray;
}

h2, h3, h4 {
  color: @dark-gray;
}

header {
  padding: 12px 0;
  border-bottom: 1px solid #eee;

  a {
    text-decoration: none;
    color: #4e4e4e;
  }
}

.panel-container {
  width: 100%;
  height: 100%;
}

.panel {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.wine-panel {
  z-index: 1;
  width: 84%;

  &.open {
    width: 66%;
  }
}

.filter-panel, {
  z-index: 2;
  width: 34%;
  background-color: #ffffff;
  box-shadow: 2px 0px 5px -2px #b9b9b9;

  &.closed {
    width: 16%;

    .filter-row {
      border-bottom: none;
    }
  }
}

.wine-panel-header {
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid @light-gray;
}

.wine-loading-container {
  text-align: center;
  margin-top: 25%;

  img {
    width: 70px;
  }
}

.wine-loading-text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.wine-count {
  font-size: 15px;
  width: 14%;
  display: inline-block;
  letter-spacing: .1;
  text-align: center;
  font-weight: 600;
  color: #9f9f9f;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  float: right;
  line-height: 50px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 14px;

  li a:hover {
    border-bottom: 2px solid #4e4e4e;
    padding-bottom: 1px;
  }
}

.checkbox-container {
  cursor: pointer;

  .checkbox {
    border: @input-border;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
    background-color: white;
  }

  &.checked {
    font-weight: 500;
    color: @gray - #333;

    .checkbox {
      border-color: @light-gray - #333;
      background-color: @purple;
    }
  }

  &:hover {
    .checkbox {
      border-color: @input-border-color-active;
    }
    color: @gray - #333;
  }
}

.select {
  margin-top: 15px;
  width: 120px;
  border: @input-border;
  background: #fff;
  height: 30px;
  font-family: @acumin-family;
  outline: none;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    border-color: @input-border-color-active;
  }
}

.region-search-container {
  position: relative;

  .search-input-container {
    .search-icon {
      opacity: 0.9;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.search-input-container {
  position: relative;

  .search-icon {
    position: absolute;
    width: 16px;
    top: 8px;
    left: 10px;
    opacity: 0.3;
  }

  &:hover, &.focus {
    .search-icon {
      opacity: 0.8;
    }
  }
}

.search-input {
  width: 280px;
  height: 32px;
  padding: 9px 8px 8px 35px;
  font-family: @freight-sans-family;
  font-size: 15px;
  border: @input-border;
  outline: none;
  width: @region-filter-width;
  letter-spacing: .1;

  &:focus, &:hover {
    border-color: @input-border-color-active;
  }
}

.logo-container {
  display: inline-block;
}

.logo {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: @abril-family;
}

.wine-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 53px;
  height: ~'calc(100% - 53px)';
  width: 100%;
  overflow-y: auto;
}

.wine-item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid @light-gray;

  &:last-child {
    boder-bottom: none;
  }
}

.wine-item-info {
  display: inline-block;
  width: ~'calc(68% - 25px)';
  margin-left: 25px;
}

.wine-item-image-container {
  width: 30%;
  height: 170px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wine-item-image-link {
  width: 100%;
  height: 100%;
  display: block;
}

.wine-type-container {
  width: 120px;
  border-bottom: 1px solid @dark-gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.wine-type-box {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;

  &.red {
    background-color: @wine-red;
  }

  &.white {
    background-color: @wine-white;
    border: 1px solid rgb(236, 239, 167);
  }

  &.rose {
    background-color: @wine-rose;
  }

  &.sparkling {
    border: 1px solid @wine-white;
  }
}

.wine-item-container {
  padding: 20px;
  position: relative;

  .wine-type-box {
    position: absolute;
    top: 20px;
  }

  .wine-name-container {
    margin-bottom: 15px;
    text-decoration: none;
  }

  .wine-name {
    font-weight: 600;
    font-size: 28px;
    margin: 0;
    color: @dark-gray;
    line-height: 33px;
    letter-spacing: 0.4;
  }

  .quote {
    font-family: @bodoni-family;
    line-height: 1.2em;
    font-size: 0.93em;
    margin-top: 10px;
    font-style: italic;
  }

  .wine-item-metadata {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: @gray;

    .wine-item-metadata-divider {
      border-right: 1px solid @gray;
      line-height: 13px;
      margin: 0 10px;
      display: inline-block;
      width: 1px;
      height: 10px;
    }
  }
}

.wine-item-filler {
  color: white;
  font-size: 5px;
}

.wine-item-ratings-container {
  margin-top: 18px;
  max-width: 600px;
}

.ratings {
  border-spacing: 0px;
  font-size: 13px;
}

.rating {
  width: 32%;
  display: inline-block;
  color: @gray;
  padding: 2px 0;

  .rating-type {
    width: 47px;
  }

  .circle {
    width: @circle-diameter;
    height: @circle-diameter;
    border-radius: @circle-diameter;
    border: 2px solid @rating-gray;
    display: inline-block;
    margin-right: 4px;
  }

  .full-circle {
    background-color: @rating-gray;
  }

  .half-circle {
    position: relative;

    span {
      width: 50%;
      height: 100%;
      border-radius: @circle-diameter 0 0 @circle-diameter;
      background: @rating-gray;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.filter-container {
  padding: 0 20px;

  .filter-header {
    border-bottom: 1px solid @light-gray;
    height: 53px;

    h1 {
      margin: 0;
      font-size: 17px;
      padding: 15px 0px;
      font-weight: 600;
      color: #aaa;
    }
  }

  .filter-scrollable {
    height: ~'calc(100% - 53px - 1px)';
    overflow-y: auto;
  }

  .filter-body {
    min-height: ~'calc(100% - 70px)';
  }

  .filter-footer {
    padding: 20px 0 20px 15;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 500;
    color: #aaa;
    line-height: 30px;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    li {
      display: inline-block;
      margin-right: 45px;

      a {
        color: #aaa;
        text-decoration: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.closed {
    .filter-body {
      min-height: ~'calc(100% - 130px)'; // account for border of filter header
    }

    .filter-footer {
      padding-left: 0;

      li {
        display: block;
      }
    }
  }
}

.filters {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 0;
}

.filter-row {
  padding: 18px 0;
  border-bottom: 1px solid @light-gray;

  &:last-child {
    border-bottom: none;
  }
}

.filter-row-key, .filter-row-values {
  display: inline-block;
  vertical-align: middle;
}

.filter-row-key {
  width: @filter-key-width;
  color: @dark-gray;
  font-weight: 500;
  font-size: 13px;
  font-family: @freight-sans-family;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.filter-row-values {
  width: ~'calc(100% - @{filter-key-width})';

  input[type='checkbox'] {
    margin-right: 8px;
    border: none;
    border: 1px solid @light-gray;
  }

  .item {
    margin-right: 18px;
  }
}

.entry-container {
  padding: 30px 0 80px;
  margin: 0 auto;
  max-width: 700px;

  .wine-type-box {
    display: inline-block;
    margin-right: 15px;
    width: 11px;
    height: 11px;
  }
}

.entry-wine-name {
  color: @very-dark-gray;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 5px;
}

.entry-subheading {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.entry-close-button {
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.entry-wine-details {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
}

.entry-wine-main-image {
  width: 100%;
  margin-top: 10px;
}

.entry-wine-lead, .entry-wine-description {
  line-height: 25px;
  font-weight: 300;
  color: #555;
  letter-spacing: 0.4px;
}

.entry-wine-quote {
  font-family: @freight-disp-family;
  color: @dark-gray;
  font-style: italic;
  font-size: 28px;
  padding: 30px 60px;
  text-align: center;
  line-height: 40px;
}

.entry-wine-metadata {
  float: right;
  padding: 0 40px 0 35px;
  margin: 0 0 25px 45px;
  border-left: 1px solid #cecece;
  font-size: 14px;

  dl {
    margin: 0;
  }

  dt {
    font-weight: 500;
    margin-bottom: 2px;
    letter-spacing: 1px;
    color: @dark-gray;
  }

  dd {
    margin: 0;
    font-weight: 300;
    margin-bottom: 20px;
    max-width: 200px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.entry-wine-ratings {
  padding: 50px 0;
}

.entry-wine-rating-item {
  width: ~'calc(100% / 6)';
  display: inline-block;
  text-align: center;
  font-size: 14px;

  .rating {
    display: block;
    width: 100%;
    margin-top: 5px;
  }
}

.region-search-dropdown {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  width: @region-filter-width;
  background-color: white;
  border: 1px solid #eee;
  z-index: 2;
  max-height: 300px;
  overflow-y: auto;

}

.region-search-item {
  padding: 5px 15px;
  cursor: pointer;
  color: @dark-gray;
  letter-spacing: 0.4px;

  &.selected {
    color: @very-dark-gray;
    background-color: #ddd;
  }
}

.region-search-item-type {
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 2px;
  color: @gray;
}

.region-filter-list {
  padding: 0;
  margin: 15px 0 0;
  list-style-type: none;
}

.region-filter-item {
  padding: 5px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #eee;
  display: inline-block;
}

.region-filter-item-data {
  display: inline-block;
}

.region-filter-item-remove {
  display: inline-block;

  .cross-icon {
    opacity: 0.5;
    cursor: pointer;
    height: 11px;
    margin-left: 10px;

    &:hover {
      opacity: 1;
    }
  }
}

.wine-type-filter-item {
  .wine-type-box {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-right: 7px;
    margin-top: -2px;
  }
}

.varietal-filter-values-container {
  position: relative;

  .caret-icon {
    width: 15px;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;

    &.closed {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform:  rotate(180deg);
    }
  }
}

.varietal-filter-item.item {
  margin-bottom: 8px;
  margin-right: 0;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.vintage-filter-type {
  margin-right: 20px;
  opacity: 0.5;
  cursor: pointer;

  &.selected {
    opacity: 1;
    text-decoration: underline;
  }

  &:hover {
    opacity: 1;
  }
}

.vintage-range-filter-dash {
  width: 13px;
  display: inline-block;
  border: 1px solid #ededed;
  margin: 0 10px;
}

.search-filter-container {
  display: inline-block;
  width: 85%;
  padding: 10px 0;
  border-right: 1px solid @light-gray;
}

.search-filter-input {
  margin-right: 20px;
  padding-left: 40px;
  width: 100%;
  border: none;
  outline: none;
}

.center-align {
  text-align: center;
}

.filter-toggle-arrow {
  cursor: pointer;

  &.rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform:  rotate(180deg);
  }
}

.filter-button-container {
  margin-top: 30px;
}

.filter-update-button {
    background: @purple;
    color: white;
    border: none;
    outline: none;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 500;
    font-family: @freight-sans-family;
    cursor: pointer;
    opacity: 0.44;
    letter-spacing: 1px;

    &.changed {
      opacity: 1;
    }
}

.filter-clear-button {
  float: right;
  margin-right: 30px;
  margin-top: 12px;
  cursor: pointer;
  letter-spacing: 0.3px;
  font-size: 13px;

  &:hover {
    text-decoration: underline;
  }
}

.selected-filters {
  padding: 20px 0;
  letter-spacing: 0.3px;
}

.selected-filter-group {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.selected-filter-group-type {
  text-transform: uppercase;
  color: @dark-gray;
  font-size: 13px;
  font-weight: 500;
}

.selected-filter-group-item {
  margin-top: 5px;
}
